<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style> 
    #name1 {
      color: brown;
      font-size: large;
    }
  </style >
  <title>Document</title>
</head>
<body>

  <div>
     <p>hello  <span id="name1">#{name} </span></p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptatibus accusamus culpa officiis reprehenderit quo recusandae maxime enim atque quae velit, sed doloribus expedita et amet dolorem facilis quas distinctio!</p>
     
  </div>
  
</body>
</html>