*/node_modules
*/.vscode
/node/0.0calculator/node_modules
/chandan/node project/0.calculator/node_modules
/node/0.page_not_found/node_modules
/node/1.gui_data_access/node_modules
/chandan/node project/1.certicate_generator/node_modules
heroku-deployment/node_modules
heroku-deployment/.git
heroku-deployment/.gitignore

/C:/Users/chand/Desktop/react_group/chandan/basic-structure-react/node_modules
/chandan/note_app_using_react_components/.parcel-cache
/chandan/note_app_using_react_components/dist
/chandan/note_app_using_react_components/node_modules
react-router/.parcel-cache
react-router/dist
react-router/node_modules

/C:/Users/chand/Desktop/react_group/chandan/routing/node_modules
sachin/react-router/.parcel-cache
sachin/react-router/node_modules
sachin/react-router/dist
sachin/react-router-compete-app/node_modules
sachin/react-router-compete-app/dist
sachin/react-router-compete-app/.parcel-cache

