<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    //- link(rel="stylesheet", href="index-pug.css")
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />

</head>

<body >
    <h1 class ="bg-black text-white p-2 text-3xl">the result of <span class="bg-blue-600 text-white  rounded-xl font-extrabold font-serif px-1" > #{key}<span/>is #{ans} </h1>
</body>

</html>