<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    //- link(rel="stylesheet", href="index-pug.css")
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />

</head>

<body class ="bg-blue-300">
    <h1 class="text-3xl content-center font-extrabold font-serif mx-2 p-3">CERTIFICATE</h1>

<p class="px-2 font-extrabold">this is cretified that  <span class="text-3xl content-center font-extrabold font-serif mx-2 p-3">#{name}</span>
<p/>       


<p class="px-2 font-extrabold">has passed  <span class="text-3xl content-center font-extrabold font-serif mx-2 p-3">#{Class}</span>
<p/>  


<p class="px-2 font-extrabold">currently his age is   <span class="text-3xl content-center font-extrabold font-serif mx-2 p-3">#{age}</span>
<p/>  




</body>

</html>